[Unit]
Description=Bitcoin Core for Bitcore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/einrcore
ExecStart=/usr/bin/einrcore-EINRd -datadir=/home/einrcore/.einrcore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=bitcore
ExecStartPre=/bin/mkdir -p /run/einrcore
ExecStartPre=/bin/chown einrcore:einrcore /run/einrcore
ExecStartPre=/bin/chmod 755 /run/einrcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target